@charset "UTF-8";

:root {
    --color-black: black;
    --color-white: white;
    --color-background: rgb(8, 0, 66);
    --color-chocolate: chocolate;
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
}

header {
    text-align: center;
    color: var(--color-chocolate);
}

#tittleHeader {
    font-size: 4em;
    margin: 20px;
}

#captionHeader {
    font-size: 1.5em;
    margin: 25px;
}

main {
    background-color: var(--color-white);
    border-radius: 20px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    min-height: 400px;
    height: auto;
    padding: 40px;
    min-width: 700px;
    max-width: 1000px;
    margin: auto;
}

footer{
    position: absolute;
    bottom: 0%;

    background-color: var(--color-black);
    color: var(--color-white);
    
    width: 100vw;
    text-align: center;
    
    display: flex;
    justify-content: space-evenly;
}

footer p {
    font-family: monospace;
    margin: 10px 0;
}

main {
    background-color: var(--color-black);
    color: var(--color-white);
}

main h1 {
    margin-bottom: 30px;
}

table {
    border: 1px solid var(--color-chocolate);
    border-radius: 5px;
}

#display {
    font-size: 2em;
    height:60px;
    width: 100%;
    text-align: right;
    background-color: var(--color-black);
    color: var(--color-white);
    border: 0;
    border-bottom: 1px solid var(--color-chocolate);
}

.button {
    width: 100%;
    height: 50px;
    font-size: 1em;
    border: none;
    background-color: var(--color-black);
    color: var(--color-chocolate);
    cursor: pointer;
}

.button:hover {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #1d1d1d;
}

.buttonNumber {
    color: var(--color-white);
}