@charset "UTF-8";

:root {
    --color-black: black;
    --color-white: white;
    --color-background: rgb(194, 186, 255);
    --color-chocolate: chocolate;
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
}

header {
    text-align: center;
}

#tittleHeader {
    font-size: 4em;
    margin: 20px;
}

#captionHeader {
    font-size: 1.5em;
    margin: 25px;
}

main {
    background-color: var(--color-white);
    border-radius: 20px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    min-height: 400px;
    height: auto;
    padding: 40px;
    min-width: 700px;
    max-width: 1000px;
    margin: auto;
}

#tittleMain {
    margin-bottom: 15px;
    font-size: 2.5em;
    text-decoration: underline;
    text-align: center;
}

#textMain {
    text-align: center;
    margin: auto;
    max-width: 500px;
    margin-bottom: 30px;
}

fieldset {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 50px 40px;
    gap: 5px;
    justify-items: center;
    align-items: center;
}

.textInput {
    border: 2px solid rgb(184, 223, 255);
    background-color: aliceblue;

    padding: 5px;
    width: 200px;
    border-radius: 10px;

    transition: filter .3s;
    outline: none;
}

.active {
    filter: drop-shadow(0 0 10px rgb(114, 192, 255));
}

.textInput:hover {
    filter: drop-shadow(0 0 15px rgb(184, 223, 255));
}

#submitButton {
    grid-column-start: 1;
    grid-column-end: 3;

    height: 30px;
    width: 200px;

    border-radius: 30px;
    border: 0px;
    
    color: var(--color-white);
    background-color: var(--color-chocolate);
    font-weight: bold;
    transition: filter .3s;
}

#submitButton:hover {
    filter: drop-shadow(10px 10px 15px var(--color-chocolate)) invert(100%);
}


footer{
    position: absolute;
    bottom: 0%;

    background-color: var(--color-black);
    color: var(--color-white);
    
    width: 100vw;
    text-align: center;
    
    display: flex;
    justify-content: space-evenly;
}

footer p {
    font-family: monospace;
    margin: 10px 0;
}